[package]
description = "Stupid Fast Scoop Utils"
edition = "2021"
name = "sfsu"
version = "1.10.0"

[workspace]
members = ["crates/*"]

[[bench]]
harness = false
name = "searching"

[profile.release]
codegen-units = 1
lto = true

[features]
default = []
# Breaking changes are locked behind this feature flag
v2 = ["sprinkles/v2"]

[dependencies]
anyhow = "1.0"
bat = "0.24"
cfg-if = "1.0"
clap = { version = "4.5", features = ["derive"] }
colored = "2.1"
git2 = "0.18"
human-panic = "1.2"
indicatif = { version = "0.17", features = ["improved_unicode", "rayon"] }
itertools = "0.12"
log = { version = "0.4", features = ["std"] }
open = "5.1"
parking_lot = "0.12"
quork = "0.6"
rayon = "1.10"
regex = "1.10"
serde_json = { version = "1.0", features = ["preserve_order"] }
sfsu-derive = { path = "crates/derive" }
shadow-rs = "0.27"
sprinkles = { version = "0.1.0", path = "crates/sprinkles" }
strum = { version = "0.26", features = ["derive"] }

[dev-dependencies]
chrono = ">=0.4.20"
criterion = { version = "0.5", features = ["html_reports"] }

[build-dependencies]
shadow-rs = "0.27"
winres = "0.1"
