[package]
name = "scoop-search"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.0.18", features = ["derive"] }
dirs = "4.0.0"
rayon = "1.5.3"
regex = "1.6.0"
